.navbar {
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 75px;
}

@media (max-width: 991px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #676767;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.navbar-links {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links li {
  display: inline-block;
  margin-right: 10px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #555;
}