* {
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header-block {
  padding-left: 30%;
  margin-right: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Create two unequal columns that float next to each other */
.leftcolumn {
  float: left;
  width: 75%;
  padding-left: 40px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.demos {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: center;
}

.box img {
  width: 150px;
  height: 150px;
}

.box p {
  margin-top: 10px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Mobile header styles */
@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  .header-block {
    padding-left: 0;
    margin-right: 0px;
  }

  header div {
    padding-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  header img {
    display: none;
  }

}