<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Club Template Resources</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>Club Resources</h1>
  </header>

  {% include 'navbar.html' %}

  <div class="row" style="width: 100%; padding-left: 20px;">
    <div class="leftcolumn">
      <div class="card">
        <h2>Club Information Resources</h2>
        <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique leo vel ex auctor, at laoreet lacus bibendum. Mauris mollis ligula ut tellus hendrerit sagittis. Vestibulum eget ipsum eu ex semper mattis et et felis.</p>
      </div>
      <div class="card">
        <h3>Club Resources</h3>
        <ul>
          <li>Resources 1</li>
          <li>Resources 2</li>
          <li>Resources 3</li>
        </ul>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h3>Helpful Websites</h3>
        <ul>
            <li>Website 1</li>
            <li>Website 2</li>
            <li>Website 3</li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    &copy; 2023 Club Template Website.
  </footer>
</body>
</html>
